<!DOCTYPE html>
<html lang="en">
    <head>
        <title>NewzFlash</title>
        <meta charset="utf-8">
        <link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico">
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container fullcenter" id="intro">
            <div class="row">
                <div class="col-sm-4" style="text-align: right;" id="centered">
                    <img src="/static/img/logo.png" width="150px" height="150px">
                </div>
                <div class="col-sm-8" style="text-align: left;" id="centered">
                    <h1 id="shadowed">WELCOME TO</br>NEWZFLASH!</h1>
                </div>
            </div>
            <div class="alert alert-info" role="alert">
                <center>Enter in " " to see all available results!</center>
            </div>
            <form action='./news'>
                <div class="row">
                    <div class="col-sm-8">
                        <label>Keyword search (recommended single word):</label>
                        <input type="text" class="form-control form-control-lg" name="q" placeholder="Search for news and press enter!">
                    </div>
                    <div class="col-sm-4">
                        <label>Sort by:</label>
                        <select class="form-control form-control-lg" name="category">
                            <option>general</option>
                            <option>business</option>
                            <option>entertainment</option>
                            <option>health</option>
                            <option>science</option>
                            <option>sports</option>
                            <option>technology</option>
                        </select>
                    </div>
                </div>
            </form>
            <br>
            <label>Alternatively:</label>
            <a type="button" class="btn btn-secondary" href="./generate">Simulate article title using Markov chains</a>
            <br><br>
            <p style="text-align: center;">
                ZotHacks 2019 - Team Honeydew Milk Tea - News Aggregator<br>
                ~ Brian Le - Stephen On - Ethan Yang - Johan Cuevas ~
            </p>
        </div>
    </body>
</html>
